{% extends "_base.html" %}


{% load static %}


{% block title%}Home Page{% endblock %}


{% block main %}
<html>
 		<head>
			<title>PchelApp</title>
			<link href="{% static 'styles/theme_dark.css' %}" rel="stylesheet" type="text/css">
			<link href="{% static 'images/favicon.ico' %}" type="image/x-icon">
 		</head>
 		<body>
		<header>
	<div class="Second">
				<h1>MyFirstProject</h1>
			</div>
		</header>
		<div class="knopka_VK">
			<a href="https://vk.com/pchel99" class="knopka_VK">My VK</a>
		</div>
		<div class="knopka_logo">
			<a href="{% url static 'images/logo.svg' %}" class="knopka_logo">Logo image</a>
		</div>
		<div class="knopka_hello">
			<a href="{% url "hello:index" %}" class="knopka_hello">Great</a>
		</div>
		</body>
 	</html>


{% endblock %}
