:root {
  --padding-left: 30px;
  --padding-top: 30px;
}

body {
  background-color: #a1f2f5;
  position: absolute;
  left: 10px;
  font-size: larger;
}

#reset-button-id {
  padding-right: 132px;
  padding-left: 132px;
  text-align: center;
}
.g {
  display: grid;
  grid-column-gap: 0.2rem;
  grid-row-gap: 1rem;
  grid-template-areas:
    "gi-name-label  gi-name-label"
    "gi-name-input  gi-empty-12"
    "gi-empty-21    gi-empty-22"
    "gi-age-label   gi-age-label"
    "gi-age-input   gi-empty-32"
    "gi-empty-41    gi-empty-42"
    "gi-submit      gi-empty-52"
    "gi-submit_rst  gi-empty-62";
}

.error {
  background-color: #d61b1b;
  color: white;
  font-family: "Bitstream Vera Sans Mono", Monaco, "Courier New", Courier, monospace;
  padding: 1rem;
}