body {
	background-color : #8dd4ce;
	z-index: 1;
}

a.knopka_VK {
  background: #27675b;
  width: 150px;
  text-align:center;
  height:40px;
  font-size: 30px;
  display: inline-block;
  color: white;
  font-weight: 700;
  text-decoration: none;
  user-select: none;
  padding: .5em 2em;
  outline: none;
  border: 2px solid;
  border-radius: 10px;
  transition: 0.2s;
}
a.knopka_VK:hover { border: 4px solid; }
a.knopka_VK:active { background: grey; }


a.knopka_hello {
  background: #27675b;
  width:150px;
  text-align:center;
  height:40px;
  font-size: 30px;
  display: inline-block;
  color: white;
  font-weight: 700;
  text-decoration: none;
  user-select: none;
  padding: .5em 2em;
  outline: none;
  border: 2px solid;
  border-radius: 10px;
  transition: 0.2s;
}
a.knopka_hello:hover { border: 4px solid; }
a.knopka_hello:active { background: grey; }


a.knopka_Admin {
  background: #27675b;
  width:150px;
  text-align:center;
  height:40px;
  font-size: 30px;
  display: inline-block;
  color: white;
  font-weight: 700;
  text-decoration: none;
  user-select: none;
  padding: .5em 2em;
  outline: none;
  border: 2px solid;
  border-radius: 10px;
  transition: 0.2s;
}
a.knopka_Admin:hover { border: 4px solid; }
a.knopka_Admin:active { background: grey; }


a.knopka_blog {
  background: #27675b;
  width:150px;
  text-align:center;
  height:40px;
  font-size: 30px;
  display: inline-block;
  color: white;
  font-weight: 700;
  text-decoration: none;
  user-select: none;
  padding: .5em 2em;
  outline: none;
  border: 2px solid;
  border-radius: 10px;
  transition: 0.2s;
}
a.knopka_blog:hover { border: 4px solid; }
a.knopka_blog:active { background: grey; }


a.knopka_home {
  background: #27675b;
  width:150px;
  text-align:center;
  height:40px;
  font-size: 30px;
  display: inline-block;
  color: white;
  font-weight: 700;
  text-decoration: none;
  user-select: none;
  padding: .5em 2em;
  outline: none;
  border: 2px solid;
  border-radius: 10px;
  transition: 0.2s;
}
a.knopka_home:hover { border: 4px solid; }
a.knopka_home:active { background: grey; }


.buttons-grid-template {
  display: grid;
  grid-gap: 5px;
  grid-template:
    "home admin hello blog vk" auto
    "gi-empty-11 gi-empty-12 gi-empty-13 gi-empty-14 gi-empty-15" auto
    "gi-empty-21 gi-empty-22 gi-empty-23 gi-empty-24 gi-empty-25" auto
    "gi-empty-31 gi-empty-32 gi-empty-33 gi-empty-34 gi-empty-35" auto
}