body {
	background-color : #8dd4ce;
	z-index: 1;
}

.buttons-grid-template{
  width: auto;
}


a.knopka_VK {
  background: #27675b;
  width: auto;
  text-align:center;
  height:40px;
  font-size: 30px;
  display: inline-block;
  color: white;
  font-weight: 700;
  text-decoration: none;
  user-select: none;
  padding: .5em 2em;
  outline: none;
  border: 3px solid;
  border-radius: 10px;
  transition: 0.2s;
}
a.knopka_VK:hover { border: 3px solid #dda1f5; }
a.knopka_VK:active { background: grey; }


a.knopka_hello {
  background: #27675b;
  width: auto;
  text-align:center;
  height:40px;
  font-size: 30px;
  display: inline-block;
  color: white;
  font-weight: 700;
  text-decoration: none;
  user-select: none;
  padding: .5em 2em;
  outline: none;
  border: 3px solid;
  border-radius: 10px;
  transition: 0.2s;
}
a.knopka_hello:hover { border: 3px solid #dda1f5; }
a.knopka_hello:active { background: grey; }


a.knopka_Admin {
  background: #27675b;
  width:auto;
  text-align:center;
  height:40px;
  font-size: 30px;
  display: inline-block;
  color: white;
  font-weight: 700;
  text-decoration: none;
  user-select: none;
  padding: .5em 2em;
  outline: none;
  border: 3px solid;
  border-radius: 10px;
  transition: 0.2s;
}
a.knopka_Admin:hover { border: 3px solid #dda1f5; }
a.knopka_Admin:active { background: grey; }


a.knopka_blog {
  background: #27675b;
  width:auto;
  text-align:center;
  height:40px;
  font-size: 30px;
  display: inline-block;
  color: white;
  font-weight: 700;
  text-decoration: none;
  user-select: none;
  padding: .5em 2em;
  outline: none;
  border: 3px solid;
  border-radius: 10px;
  transition: 0.2s;
}
a.knopka_blog:hover { border: 3px solid #dda1f5;; }
a.knopka_blog:active { background: grey; }


a.knopka_home {
  background: #27675b;
  width:auto;
  text-align:center;
  height:40px;
  font-size: 30px;
  display: inline-block;
  color: white;
  font-weight: 700;
  text-decoration: none;
  user-select: none;
  padding: .5em 2em;
  outline: none;
  border: 3px solid;
  border-radius: 10px;
  transition: 0.2s;
}
a.knopka_home:hover { border: 3px solid #dda1f5; }
a.knopka_home:active { background: grey; }


a.knopka_bots {
  background: #27675b;
  width:auto;
  text-align:center;
  height:40px;
  font-size: 30px;
  display: inline-block;
  color: white;
  font-weight: 700;
  text-decoration: none;
  user-select: none;
  padding: .5em 2em;
  outline: none;
  border: 3px solid;
  border-radius: 10px;
  transition: 0.2s;
}
a.knopka_bots:hover { border: 3px solid #dda1f5; }
a.knopka_bots:active { background: grey; }


a.knopka_logout {
  position: fixed;
  top: 100px;
  right: 30px;
  background: #27675b;
  width: 100px;
  text-align:center;
  height:40px;
  font-size: 30px;
  display: inline-block;
  color: white;
  font-weight: 700;
  text-decoration: none;
  user-select: none;
  padding: .5em 2em;
  outline: none;
  border: 3px solid;
  border-radius: 10px;
  transition: 0.2s;
}
a.knopka_logout:hover { border: 3px solid #dda1f5; }
a.knopka_logout:active { background: grey; }


a.knopka_login {
  position: fixed;
  top: 100px;
  right: 30px;
  background: #27675b;
  width: 150px;
  text-align:center;
  height:40px;
  font-size: 30px;
  display: inline-block;
  color: white;
  font-weight: 700;
  text-decoration: none;
  user-select: none;
  padding: .5em 2em;
  outline: none;
  border: 3px solid;
  border-radius: 10px;
  transition: 0.2s;
}
a.knopka_login:hover { border: 3px solid #dda1f5; }
a.knopka_login:active { background: grey; }



.buttons-grid-template {
  display: grid;
  grid-gap: 5px;
  grid-template:
    "home admin hello blog vk bots logout login" auto
    "gi-empty-11 gi-empty-12 gi-empty-13 gi-empty-14 gi-empty-15 gi-empty-16 gi-empty-17 gi-empty-18" auto
    "gi-empty-21 gi-empty-22 gi-empty-23 gi-empty-24 gi-empty-25 gi-empty-26 gi-empty-27 gi-empty-28" auto
    "gi-empty-31 gi-empty-32 gi-empty-33 gi-empty-34 gi-empty-35 gi-empty-36 gi-empty-37 gi-empty-38" auto
}