*{
    box-sizing: border-box;
 }
body {
	background-color : white;
}
.Second {font-size : 45;
	font-family : Arial;
}
.Test1 {
    max-width: 1000px;
    position: absolute top;
}
.Test2 {
    max-width: 300px;
    position: absolute;
     right:0;
     top:0;
}
